name: CI #4 - Production Delivery

on:
  push:
    tags:
      - 'POS-V*'

jobs:
  build-production:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Dar permissão ao Gradle
        run: chmod +x ./gradlew

      - name: Build Produção (Release unsigned)
        run: ./gradlew assembleRelease

      - name: Criar Release no GitHub
        uses: softprops/action-gh-release@v1
        with:
          files: app/build/outputs/apk/release/*.apk
