name: CI #2 - DEV Integration

on:
  push:
    branches: [ dev ]

jobs:
  build-dev:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Dar permissão ao Gradle
        run: chmod +x ./gradlew

      - name: Build DEV (Debug)
        run: ./gradlew assembleDebug

      - name: Upload APK DEV
        uses: actions/upload-artifact@v4
        with:
          name: apk-dev-debug
          path: app/build/outputs/apk/debug/*.apk
